%body
  %section#introduction
    .container
      .row.fill-viewport.align-items-center.justify-content-center
        .col-12.col-md-6
          .row
            .col-md-auto
              %h1.text-white.title.inline-block Codebreaker 2019
          .row
            .col.button
              %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                Level:
                %span.badge.badge-light
                  #{@game.stat[:diff]}
              %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                Attempts Left:
                %span.badge.badge-light
                  #{@game.atempts}/#{@game.stat[:atempts]}
              %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                Hints Left:
                %span.badge.badge-light
                  #{@game.hints}/#{@game.stat[:hint]}
          %hr.mb-4/
          .row
            .text-center
              .text-center
                %h3.text-white
                  Congratulations, #{@game.user}! You won the game!
              %img.img-fluid{:alt => "You won the game!", :src => "/images/won.gif"}/
          %hr.mb-4/
          %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
            Play again!
          %a.btn.btn-success.btn-lg.float-right{:href => "/statistics", :role => "button"}
            Statistics
